[Unit]
Description=MQTT explorer in a container
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
Requires=mqtt.service
After=mqtt.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n TZ=America/Argentina/Buenos_Aires
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/local/bin/podman run --name=mqtt-explorer \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace --detach \
  -p 4000:4000 \
  --network=slirp4netns:allow_host_loopback=true \
  --label "io.containers.autoupdate=registry" \
  -v /home/{{ user }}/hassio/mqtt/explorer:/mqtt-explorer/config \
  docker.io/smeagolworms4/mqtt-explorer
ExecStop=/usr/local/bin/podman stop --ignore -t 10 --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/local/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
